*{
  margin:20px;
  padding:0;
  box-sizing: border-box;
}
h1{
  text-align: center;
}
#request{
  margin:10vh 25vw;
  display: flex;
 justify-content: space-around;
}
select{
  padding:10px 20px;
  color: white;
  background-color: black;
}
option{
  color: black;
  background-color: white;
}
button{
  padding:10px 30px;
  background-color: rgb(99, 198, 255);
  font-weight: 900;
  border:0;
  cursor: pointer;
}
button:hover{
  transform: scale(1.1,1.1);
}
input{
  width: 500px;
  padding-left: 10px;
  font-weight: 900;
}
#api{
  display: flex;
  justify-content: center;
}
#api>div{
  border:1px solid black;
  padding:10px 20px;
}
#response{
  margin:5vh;
  text-align: center;
}